---
import BlogPosts from "@/components/BlogPosts.astro";
import config from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";

const { tag } = Astro.params;
const title = `#${tag} - ${config.title}`;
const description = `#${tag} の記事一覧`;

const posts = (await Astro.glob("../posts/*.{md,mdx}"))
  .filter(({ frontmatter: { tags } }) => tags?.includes(tag) ?? false)
  .map(({ url, frontmatter: { title, createdAt, tags } }) => ({
    title,
    createdAt,
    url,
    tags: tags ?? [],
  }));

export async function getStaticPaths() {
  const tags = (await Astro.glob("../posts/*.{md,mdx}")).flatMap(
    ({ frontmatter: { tags } }) => tags ?? []
  );
  const uniqueTags = new Set<string>(tags);

  return [...uniqueTags].map((tag) => ({ params: { tag } }));
}
---

<BaseLayout lang="ja" {title} {description}>
  <h2>#{tag}</h2>
  <BlogPosts {posts} />
</BaseLayout>

<style>
  h2 {
    margin-bottom: 24px;
  }
</style>
