---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { formatDate } from "@/utils";

const defaultDescription = Astro.props.content.astro.html
  .replace(/(<([^>]+)>)/gi, "")
  .substr(0, 100)
  .trim();
const defaultOgImage = Astro.canonicalURL.pathname.replace(
  /^\/posts\/([^\/]+)\/$/,
  `${Astro.canonicalURL.origin}/og-image/$1.jpg`
);
const {
  lang = "ja",
  title,
  description = defaultDescription,
  created_at,
  og_image = defaultOgImage,
} = Astro.props.content;
---

<BaseLayout {lang} {title} {description} {og_image}>
  <style>
    .time {
      color: var(--nc-ac-tx);
    }
    .title {
      padding: 0;
      margin-bottom: 2rem;
    }
  </style>
  <time class="time">{formatDate(created_at)}</time>
  <h1 class="title">{title}</h1>
  <slot />
</BaseLayout>
